<div class="contenedor">
    <div class="cabecera">
        <img src="../images/netflix.png" />
        <span location="iniciar"></span>
    </div>

    <div class="help-form">
        <h2>Olvidaste tu email/contraseña</h2>
        <h3>¿Cómo te gustaría recuperarla?</h3>
        <div location="radio" class="radio"></div>
        <h3>Te enviaremos un email con instrucciones sobre cómo restablecer tu contraseña.</h3>
        <div location="email"></div>
        <div location="enviar"></div>
        <div location="nome"></div>

    </div>

    <footer class="footer2">
        <div class="footer-site">
            <p class = "footer-top">¿Preguntas? Llama al 01800-265-0161</p>
            <div class="zeldas">
                <span location="regalo" ></span>
                <span location="uso" ></span>
                <span location="privacidad"></span>
            </div>
            <div location="idiomas"></div>
        </div>
    </footer>

</div>